baseURL = "https://blog.hajruli.ch/"
defaultContentLanguage = "fr"
languageCode = "fr"
theme = "LoveIt"
enableEmoji = true
title = "Selmir.Dev.Blog"

[params]
  version = "0.2.X"
  description = "var blog = new Blog&lt;Dev&gt;();"
  keywords = ["selmir", "dev", "dotnet", "pivacy", "cloud", "aws"]
  defaultTheme = "dark"
  gitRepo = ""
  dateFormat = "2006-01-02"

  [params.app]
    title = "Selmir.Dev"
    noFavicon = false
    svgFavicon = ""
    themeColor = "#ffffff"
    iconColor = "#5bbad5"
    tileColor = "#da532c"

  [params.search]
    enable = true
    type = "lunr"
    contentLength = 4000
    placeholder = ""
    maxResultLength = 10
    snippetLength = 30
    highlightTag = "em"
    absoluteURL = false

  [menu]
    [[menu.main]]
    identifier = "posts"
    name = "Posts"
    url = "/posts/"
    title = ""
    weight = 1
    [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    title = ""
    weight = 2
    [[menu.main]]
    identifier = "aboutme"
    pre = ""
    post = ""
    name = "About"
    url = "/aboutme/"
    title = ""
    weight = 5

  [params.header]
    desktopMode = "fixed"
    mobileMode = "auto"
    [params.header.title]
      name = "Selmir.Dev"
      pre = "<i class='fas fa-code fa-fw'></i>"
      post = ""

  [params.footer]
    enable = true
    custom = 'Copyleft @Selmir 2020 <span class="fas fa-copyright fa-flip-horizontal"></span>'
    hugo = false
    copyright = false
    author = false
    since = 2019

  [params.section]
    paginate = 10
    dateFormat = "01-02"
    rss = 10

  [params.list]
    paginate = 20
    dateFormat = "01-02"
    rss = 10

  [params.home]
    rss = 10
    [params.home.profile]
      enable = true
      gravatarEmail = ""
      avatarURL = "/images/avatar.png"
      subtitle = "var blog = new Blog&lt;Dev&gt;();"
      typeit = true
      social = true
      disclaimer = ""
    [params.home.posts]
      enable = true
      paginate = 6
      defaultHiddenFromHomePage = false

  [params.social]
    GitHub = "selmirrrrr"
    Linkedin = "selmir"
    Twitter = "selmirrrrr"
    Telegram = "roxtar"
    Stackoverflow = "10247440"
    Hackernews = "BizyDev"
    Devto = "selmirrrrr"
    RSS = true 

  [params.page]
    hiddenFromHomePage = false
    hiddenFromSearch = false
    twemoji = true
    lightgallery = false
    ruby = true
    fraction = true
    fontawesome = true
    linkToMarkdown = true
    rssFullText = false
    [params.page.toc]
      enable = true
      auto = true
    [params.page.math]
      enable = true
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      copyTex = true
      mhchem = true
    [params.page.code]
      copy = true
      # the maximum number of lines of displayed code by default
      maxShownLines = 10
    [params.page.mapbox]
      accessToken = ""
      lightStyle = "mapbox://styles/mapbox/light-v9"
      darkStyle = "mapbox://styles/mapbox/dark-v9"
      navigation = true
      geolocate = true
      scale = true
      fullscreen = true
    [params.page.share]
      enable = true
      Twitter = true
      Facebook = true
      Linkedin = true
      HackerNews = true
      Reddit = true
      Pocket = false
      Evernote = true
    [params.page.comment]
      enable = true
    [params.page.comment.utterances]
        enable = true
        repo = "Selmirrrrr/GoHugoInfomaniak"
        issueTerm = "pathname"
        label = "comment"
        lightTheme = "github-light"
        darkTheme = "github-dark"

[markup]
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    noClasses = false
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
      unsafe = true
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6

[author]
  name = "Selmir"
  email = ""
  link = ""

[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

[Permalinks]
  posts = ":filename"

[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  taxonomyTerm = ["HTML"]